{% if isConnected == false %}
    <a href="/ipayroll/connection">Connect to iPayroll</a>
{% else %}
    <h3>Connected to iPayroll</h3>
    <p> Access token: {{ accessToken }}</p>
    <a href="/ipayroll/costcentres">Cost centre</a><br>
    <a href="/ipayroll/employees">Employee</a><br>
    <a href="/ipayroll/employeeCustomfields">employeeCustomfields</a><br>
    <a href="/ipayroll/employeePayrates">employeePayrates</a><br>
    <a href="/ipayroll/employeeLeaveBalances">Cost centre</a><br>
    <a href="/ipayroll/costcentres">employeeLeaveBalances</a><br>
    <a href="/ipayroll/leaveRequests">leaveRequests</a><br>
    <a href="/ipayroll/payElements">payElements</a><br>
    <a href="/ipayroll/payslips">payslips</a><br>
    <a href="/ipayroll/timesheets">timesheets</a><br>
    <a href="/ipayroll/payrolls">payrolls</a><br>


{% endif %}